#### First, I will state the libraries needed to work in the project.

In [1]:
import pandas as pd

import pymysql

from sqlalchemy import create_engine

#### Second, I will state explicitly the path, connection string and engine that will provide access to our raw data.

In [2]:
sqlitedb_abs_path = '/Users/manuelaquino/Bootcamp/project_m1/raw_data_project_m1.db'

connection_string = f'sqlite:///{sqlitedb_abs_path}'

engine = create_engine(connection_string)

#### Down here, I will just see my database tables and query "SELECT *" from each table. 
#### This allows me to confirm my connection and to take a first look at the data contained.

In [3]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [4]:
pd.read_sql_query("SELECT * FROM personal_info", engine)

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,37 years old,FeMale,nO,26_39
9645,39f989f0-db52-0133-8482-0a81e8b09a82,53 years old,Male,yES,40_65
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,1992,male,NO,juvenile
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,47 years old,male,yES,40_65
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,51 years old,FeMale,YES,40_65

In [5]:
pd.read_sql_query("SELECT * FROM country_info", engine)

                                      uuid country_code        rural
0     f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1     54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2     83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3     15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4     24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
...                                    ...          ...          ...
9644  7d1ac020-dcb4-0133-817a-0a81e8b09a82           SK        urban
9645  39f989f0-db52-0133-8482-0a81e8b09a82           SK        urban
9646  70ce4a90-d965-0133-f5e4-0a81e8b09a82           SK    Non-Rural
9647  2896e440-db3c-0133-5b67-0a81e8b09a82           SK         city
9648  06217ba0-dd56-0133-edda-0a81e8b09a82           SK         city

[9649 rows x 3 columns]

In [6]:
pd.read_sql_query("SELECT * FROM career_info", engine)

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,high,yes,847165cfda6b1dc82ae22b967da8af2f
9645,39f989f0-db52-0133-8482-0a81e8b09a82,high,yes,a4d5b8b38f9513825d0d94a981ebe962
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,None
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,low,yes,775190277a849cba701b306a7b374c0a
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,high,yes,8a7a3f1bce0958ae9f090683e5a925b7

In [7]:
pd.read_sql_query("SELECT * FROM poll_info", engine)

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,â€°Ã›_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,â€°Ã›_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,I understand it fully,I would probably vote for it,â€°Ã›_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance
9645,39f989f0-db52-0133-8482-0a81e8b09a82,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,I have heard just a little about it,I would not vote,â€°Ã›_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...

#### This step is done to JOIN all tables and start building what will be my first full raw dataframe.

In [8]:
project_m1_full_raw_data = pd.read_sql_query(
"""
SELECT * 
FROM personal_info
JOIN career_info
ON personal_info.uuid = career_info.uuid
JOIN country_info
ON country_info.uuid = career_info.uuid
JOIN poll_info
ON poll_info.uuid = career_info.uuid""", engine)

In [9]:
project_m1_full_raw_data

,uuid,age,gender,dem_has_children,age_group,uuid,dem_education_level,dem_full_time_job,normalized_job_code,uuid,country_code,rural,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,â€°Ã›_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,â€°Ã›_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,37 years old,FeMale,nO,26_39,7d1ac020-dcb4-0133-817a-0a81e8b09a82,high,yes,847165cfda6b1dc82ae22b967da8af2f,7d1ac020-dcb4-0133-817a-0a81e8b09a82,SK,urban,7d1ac020-dcb4-0133-817a-0a81e8b09a82,I understand it fully,I would probably vote for it,â€°Ã›_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance
9645,39f989f0-db52-0133-8482-0a81e8b09a82,53 years old,Male,yES,40_65,39f989f0-db52-0133-8482-0a81e8b09a82,high,yes,a4d5b8b38f9513825d0d94a981ebe962,39f989f0-db52-0133-8482-0a81e8b09a82,SK,urban,39f989f0-db52-0133-8482-0a81e8b09a82,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,1992,male,NO,juvenile,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,None,70ce4a90-d965-0133-f5e4-0a81e8b09a82,SK,Non-Rural,70ce4a90-d965-0133-f5e4-0a81e8b09a82,I have heard just a little about it,I would not vote,â€°Ã›_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,47 years old,male,yES,40_65,2896e440-db3c-0133-5b67-0a81e8b09a82,low,yes,775190277a849cba701b306a7b374c0a,2896e440-db3c-0133-5b67-0a81e8b09a82,SK,city,2896e440-db3c-0133-5b67-0a81e8b09a82,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,51 years old,FeMale,YES,40_65,06217ba0-dd56-0133-edda-0a81e8b09a82,high,yes,8a7a3f1bce0958ae9f090683e5a925b7,06217ba0-dd56-0133-edda-0a81e8b09a82,SK,city,06217ba0-dd56-0133-edda-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...

In [10]:
type(project_m1_full_raw_data)

pandas.core.frame.DataFrame

#### As we can see, the 'uuid' column used to JOIN is beign repeated.
#### We will try to eliminate the duplicates and keep just one.

In [11]:
project_m1_full_raw_data.columns.unique()

Index(['uuid', 'age', 'gender', 'dem_has_children', 'age_group',
       'dem_education_level', 'dem_full_time_job', 'normalized_job_code',
       'country_code', 'rural', 'question_bbi_2016wave4_basicincome_awareness',
       'question_bbi_2016wave4_basicincome_vote',
       'question_bbi_2016wave4_basicincome_effect',
       'question_bbi_2016wave4_basicincome_argumentsfor',
       'question_bbi_2016wave4_basicincome_argumentsagainst'],
      dtype='object')

In [12]:
project_m1_data = project_m1_full_raw_data[['uuid', 'age', 'gender', 'dem_has_children', 'age_group',
       'dem_education_level', 'dem_full_time_job', 'normalized_job_code',
       'country_code', 'rural', 'question_bbi_2016wave4_basicincome_awareness',
       'question_bbi_2016wave4_basicincome_vote',
       'question_bbi_2016wave4_basicincome_effect',
       'question_bbi_2016wave4_basicincome_argumentsfor',
       'question_bbi_2016wave4_basicincome_argumentsagainst']]

In [13]:
project_m1_data = project_m1_data.loc[:,~project_m1_data.columns.duplicated()]

project_m1_data

,uuid,age,gender,dem_has_children,age_group,dem_education_level,dem_full_time_job,normalized_job_code,country_code,rural,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65,no,no,None,AT,countryside,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65,high,yes,861a9b9151e11362eb3c77ca914172d0,AT,urban,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39,None,no,None,AT,city,I have heard just a little about it,I would not vote,â€°Ã›_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,AT,Country,I have heard just a little about it,I would probably vote for it,â€°Ã›_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,AT,city,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,37 years old,FeMale,nO,26_39,high,yes,847165cfda6b1dc82ae22b967da8af2f,SK,urban,I understand it fully,I would probably vote for it,â€°Ã›_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance
9645,39f989f0-db52-0133-8482-0a81e8b09a82,53 years old,Male,yES,40_65,high,yes,a4d5b8b38f9513825d0d94a981ebe962,SK,urban,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,1992,male,NO,juvenile,low,no,None,SK,Non-Rural,I have heard just a little about it,I would not vote,â€°Ã›_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,47 years old,male,yES,40_65,low,yes,775190277a849cba701b306a7b374c0a,SK,city,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,51 years old,FeMale,YES,40_65,high,yes,8a7a3f1bce0958ae9f090683e5a925b7,SK,city,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...

#### The .unique() method allows me to explore the values inside a column to define a cleaning strategy.

In [14]:
project_m1_data['gender'].unique()

array(['male', 'Male', 'Fem', 'FeMale', 'female'], dtype=object)

#### Because there is a low quantity of distinc values, it's easy to identify the ones that need to be corrected and use the .replace() method to clean the inconsistent ones.

In [15]:
project_m1_data['gender'].replace(to_replace = "male", value ="Male", inplace = True)

In [16]:
project_m1_data['gender'].replace(to_replace =["Fem", "FeMale", "female"], value ="Female", inplace = True)

In [17]:
project_m1_data['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [18]:
print(project_m1_data['age'].unique().tolist())

['61 years old', '57 years old', '32 years old', '45 years old', '41 years old', '1990', '47 years old', '34 years old', '1994', '49 years old', '58 years old', '1991', '40 years old', '37 years old', '48 years old', '31 years old', '1999', '1989', '2001', '35 years old', '51 years old', '1988', '42 years old', '33 years old', '64 years old', '38 years old', '55 years old', '1992', '1993', '36 years old', '46 years old', '1998', '44 years old', '1996', '65 years old', '1995', '52 years old', '2002', '50 years old', '1997', '43 years old', '1987', '1986', '39 years old', '53 years old', '62 years old', '2000', '54 years old', '56 years old', '59 years old', '60 years old', '63 years old']

#### For this next step, regex proves useful to eliminate the unwanted part of the strings.

In [19]:
project_m1_cleaned_data = project_m1_data.replace(to_replace=' years old', value='', regex = True)

In [20]:
print(project_m1_cleaned_data['age'].unique())

['61' '57' '32' '45' '41' '1990' '47' '34' '1994' '49' '58' '1991' '40'
 '37' '48' '31' '1999' '1989' '2001' '35' '51' '1988' '42' '33' '64' '38'
 '55' '1992' '1993' '36' '46' '1998' '44' '1996' '65' '1995' '52' '2002'
 '50' '1997' '43' '1987' '1986' '39' '53' '62' '2000' '54' '56' '59' '60'
 '63']

In [21]:
len(project_m1_cleaned_data['age'][5])

4

#### I believe some string values appear to be the "YEAR OF BIRTH". I will substitute them by calculating age by year 2016.

- The number string will need to be converted to interger to support calculation.

In [22]:
project_m1_cleaned_data['age'] = project_m1_cleaned_data['age'].apply(lambda x: 2016 - int(x) if len(x) == 4 else x)

In [23]:
print(project_m1_cleaned_data['age'].unique())

['61' '57' '32' '45' '41' 26 '47' '34' 22 '49' '58' 25 '40' '37' '48' '31'
 17 27 15 '35' '51' 28 '42' '33' '64' '38' '55' 24 23 '36' '46' 18 '44' 20
 '65' 21 '52' 14 '50' 19 '43' 29 30 '39' '53' '62' 16 '54' '56' '59' '60'
 '63']

- I believe it's more convenient to convert this column to type interger/numeric because it will support more numeric operations and provide more information.

In [24]:
project_m1_cleaned_data['age'] = project_m1_cleaned_data['age'].astype(int)

In [25]:
print(project_m1_cleaned_data['age'].unique())

[61 57 32 45 41 26 47 34 22 49 58 25 40 37 48 31 17 27 15 35 51 28 42 33
 64 38 55 24 23 36 46 18 44 20 65 21 52 14 50 19 43 29 30 39 53 62 16 54
 56 59 60 63]

#### There are inconsistencies in the use of uppercase/lowercase size of characters on column ['dem_has_children'].
- Values will be made uppercase for consistency.

In [26]:
project_m1_cleaned_data['dem_has_children'] = project_m1_data['dem_has_children'].str.upper()

In [27]:
project_m1_data['age_group'].unique()

array(['40_65', '26_39', 'juvenile', '14_25'], dtype=object)

#### Looking at the unique values in ['age_group'] we detect one inconsistent one.
- By looking closer to the data I realized that all age values associated to 'juvenile' are inside the '14_25' range and should be placed in this bin.

In [28]:
juvenile = project_m1_cleaned_data[project_m1_cleaned_data['age_group'] == 'juvenile']

juvenile['age'].unique()

array([22, 17, 24, 20, 25, 14, 19, 23, 15, 16, 18, 21])

In [29]:
project_m1_cleaned_data['age_group'] = project_m1_data['age_group'].replace(to_replace = "juvenile", value ="14_25")

project_m1_cleaned_data['age_group'].unique()

array(['40_65', '26_39', '14_25'], dtype=object)

- To make sure values were placed correctly in each bin, I created a filter for each one and doubled checked numbers.

In [41]:
bin_14_25 = project_m1_cleaned_data[project_m1_cleaned_data['age_group'] == '14_25']

bin_26_39 = project_m1_cleaned_data[project_m1_cleaned_data['age_group'] == '26_39']

bin_40_65 = project_m1_cleaned_data[project_m1_cleaned_data['age_group'] == '40_65']

print('bin_14_25 =', bin_14_25['age'].unique())
print('bin_26_39 = ', bin_26_39['age'].unique())
print('bin_40_65 = ', bin_40_65['age'].unique())

bin_14_25 = [22 25 17 15 24 23 18 20 21 14 19 16]
bin_26_39 =  [32 26 34 37 31 27 35 28 33 38 36 29 30 39]
bin_40_65 =  [61 57 45 41 47 49 58 40 48 51 42 64 55 46 44 65 52 50 43 53 62 54 56 59
 60 63]

In [45]:
project_m1_data['dem_full_time_job'].unique()

array(['no', 'yes'], dtype=object)

In [48]:
project_m1_cleaned_data['dem_full_time_job'] = project_m1_data['dem_full_time_job'].str.upper()

In [56]:
project_m1_data['question_bbi_2016wave4_basicincome_awareness'].value_counts()

I know something about it              3389
I understand it fully                  2389
I have heard just a little about it    2305
I have never heard of it               1566
Name: question_bbi_2016wave4_basicincome_awareness, dtype: int64

In [60]:
len(project_m1_data['normalized_job_code'].unique())

157

In [61]:
project_m1_data['rural'].unique()

array(['countryside', 'urban', 'city', 'Country', 'rural', 'Non-Rural'],
      dtype=object)

In [68]:
project_m1_data['dem_education_level'].unique()

array(['no', 'high', None, 'medium', 'low'], dtype=object)

In [69]:
project_m1_data['dem_education_level'].value_counts()

medium    3578
high      3270
low       1815
no         323
Name: dem_education_level, dtype: int64

In [76]:
project_m1_data['dem_education_level'].isnull().value_counts()

False    8986
True      663
Name: dem_education_level, dtype: int64

In [81]:
project_m1_cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9649 entries, 0 to 9648
Data columns (total 15 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   uuid                                                 9649 non-null   object
 1   age                                                  9649 non-null   int64
 2   gender                                               9649 non-null   object
 3   dem_has_children                                     9649 non-null   object
 4   age_group                                            9649 non-null   object
 5   dem_education_level                                  8986 non-null   object
 6   dem_full_time_job                                    9649 non-null   object
 7   normalized_job_code                                  5702 non-null   object
 8   country_code                                         9649 non-null   object
 9   rural                                                9649 non-null   object
 10  question_bbi_2016wave4_basicincome_awareness         9649 non-null   object
 11  question_bbi_2016wave4_basicincome_vote              9649 non-null   object
 12  question_bbi_2016wave4_basicincome_effect            9649 non-null   object
 13  question_bbi_2016wave4_basicincome_argumentsfor      9649 non-null   object
 14  question_bbi_2016wave4_basicincome_argumentsagainst  9649 non-null   object
dtypes: int64(1), object(14)
memory usage: 1.1+ MB

In [64]:
project_m1_cleaned_data['dem_education_level'] = project_m1_data['dem_education_level'].replace(to_replace='no', value='no education', regex = True)

In [67]:
project_m1_cleaned_data['dem_education_level'].unique()

array(['no education', 'high', None, 'medium', 'low'], dtype=object)